
<div>
  <div>
    <%= order_item.quantity %>
  </div>

  <div>
    <strong><%= order_item.product.name %></strong>
    <div>
      <div>
        <%= truncate(order_item.product.description, length: 140) %>
      </div>
    <div>
        <strong><%= number_to_currency(order_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Remove Item', order_item, method: :delete, data: { confirm: "Are you sure? " }%>
</div>

<hr/ >