<h2>
  <%= link_to "Categories", root_path %> /
  <%= @category.name %> /
  Products
</h2>

<div class="row">
      <% @products.each do |product| %>

      <div class="col s3 m3 l3">
      <div class="card grey darken-1">
            <div class="card-content white-text">
            <span class="card-title"> <%= link_to product.name, category_product_path(product.category_ids, product.id), class: "card-title"%> </span>
            <p>Sold by: <%= product.user ? product.user.name : "Anonymous" %></p>
            <p>Price: <%= number_to_currency(product.price) %></p>
            </div>
            <div class="card-action">
            <% if product_author(product) %>
            <a id="inline"><%= link_to 'Edit', edit_user_product_url(@category, product) %></a>
            <a id="inline"><%= link_to 'Delete', user_product_url(current_user, product.id), method: :delete, data: { confirm: "Are you sure ?" } %></a>
            <% end %>
            </div>
            </div>
      </div>

      <% end %>
</div>